* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fff5f575;
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    line-height: 1.6;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6b4f4f;
    color: #fff;
  }
  
  .navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar ul li a:hover {
    color: #d1a054;
  }
  
  .navbar .cta {
    background-color: #d1a054;
    padding: 5px 15px;
    border-radius: 5px;
    color: #6b4f4f;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar .cta:hover {
    background-color: #fff;
    color: #6b4f4f;
  }

  .menu-toggle{
    display: none;
  }
  @media (max-width: 768px) {
    .navbar ul {
        display: none;
    }
    .navbar .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
      }

      .navbar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #6b4f4f;
      }
    
      .navbar-menu li {
        margin: 0.1rem;
        height: 30px;
      }
      

    }
  
  .image-container {
    text-align: center;
  }
  
  .centered-image {
    max-width: 50%;  
    height: auto;  
    border-radius: 8px; 
    margin-top: 75px;
    margin-bottom: 75px;
    border: 2px solid #6b4f4f;
    border-radius: 5px;
    box-shadow: #6b4f4f;
  }
  .footer {
    background-color: #6b4f4f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-text {
    margin-top: 20px;
    font-size: 0.9em;
  }

  .ingfo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
  }

  .ingfo h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    -webkit-text-stroke: 2px rgb(0, 0, 0); 
  }


  .pesan-link{
    background-color: #6b4f4f;
    border-radius:5px;
    padding:10px 40px;
    text-decoration:none;
    color:rgb(255, 255, 255)
  }
  
  .pesan{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 75px;
  }